//author: Ye Wang <yewangfaith@gmail.com>


params.email = "m-rich@northwestern.edu"


profiles {


    local {
        includeConfig 'conf/local.config'
    }

    local_debug {

        includeConfig 'conf/local_debug.config'
    }

    quest_debug {
        includeConfig 'conf/quest_debug.config'
    }
    
    quest {
        includeConfig 'conf/quest.config'
    }

    gcp_debug {
        includeConfig 'conf/gcp_debug.config'
    }

}

/*
report {
    enabled = true
}
*/

// min_depth_individual = Minimum allowable depth allowable for variants to be called at the individual level
// min_depth = Minimum allowable depth for variants to be called at the union level
// qual = Minimum quality
// mapping_quality = Minimum mapping quality
// dv_dp = Allelic depth of ALT over total depth; Minimum to allow

manifest {
    homePage = "http://www.andersenlab.org"
    description = "Wild Isolate Concordance Pipeline"
    mainScript = "main.nf"
}
