
// configuration for google pipeline API debug 
docker {

    enabled = true

}

process {

    executor = 'google-pipelines'

    withLabel: bam_coverage {

    container = 'faithman/bam_toolbox:latest'

    }

    container = 'faithman/concordance:latest'
    machineType = 'n1-standard-8'

}

google {

    project = 'andersen-lab'

    zone = 'us-central1-a'

}

params {

    debug = true
    date = new Date().format( 'yyyyMMdd' )
    genome = "WS245"
    tmpdir = "gs://nextflow-pipelines/tmpdir"
    fq_file_prefix = ""
    reference = "gs://nextflow-pipelines/pipelines/concordance-nf/WS245/WS245.fa.gz"
    fq_file = 'sample_sheet.tsv'
    out = "gs://nextflow-pipelines/pipelines/concordance-nf/concordance-${date}"


    // thresholds 
    min_depth = 0
    qual = 1
    mapping_quality = 2
    dv_dp = 0.1
    min_depth_individual = 1
    cores = 4
}
