// configuration for google pipeline API debug 
docker {

    enabled = true

}

workDir = "gs://nf-scratch/workDir"

process {

    executor = 'google-pipelines'

    withLabel: bam_coverage {

    container = 'faithman/bam_toolbox:latest'

    }

    container = 'faithman/concordance:latest'
    machineType = 'n1-standard-8'

    machineType = 'n1-standard-2'
}

google {

    project = 'nextflow-sandbox'

    zone = 'us-central1-a'

}

params {
    debug = true
    date = new Date().format( 'yyyyMMdd' )
    genome = "WS245"
    fq_file_prefix = "test_data"
    //reference = "WS245/WS245.fa.gz"
    reference = "WS245"
    fq_file = 'test_data/sample_sheet.tsv'
    out = "gs://nf-scratch/output/CeCCDS-${date}"

    // thresholds 
    min_depth = 0
    qual = 1
    mapping_quality = 2
    dv_dp = 0.1
    min_depth_individual = 1
    cores = 2
}
