
// For locally debug with docker
docker {
    enabled = true
}

process {
    withLabel: bam_coverage {
    container = 'faithman/bam_toolbox:latest'
}
     container = 'faithman/concordance:latest'
}

params {
    debug = true
    reference = "WS245/WS245.fa.gz"
    min_depth = 0
    qual = 1
    mapping_quality = 2
    dv_dp = 0.1
    min_depth_individual = 1
    bamdir = 'bam'
}