
// Configuration for Quest (slurm)

singularity {
    enabled = true
}

process {

    module='singularity/latest'

    errorStrategy = 'finish'

    withLabel: bam_coverage {

    container = 'docker://faithman/bam_toolbox:latest'

}
    container = 'docker://faithman/concordance:latest'

    $merge_union_vcf_chromosome {
         memory = '16 GB'
    }
}

params {
    genome = "WS245"
    //annotation_reference = "WS261"
    tmpdir = "/projects/b1042/AndersenLab/tmp"
    bamdir= "/projects/b1059/data/alignments"
    fq_file_prefix = ""
    reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa.gz"
    min_depth = 10
    qual = 30
    mapping_quality = 40
    dv_dp = 0.5
    min_depth_individual = 3
    cores = 4
}