
// For quest debug

singularity { singularity.enabled = true }

process {

    module='singularity/latest'

    withLabel: bam_coverage {

    container  = 'docker://faithman/bam_toolbox:latest'

}

    container  = 'docker://faithman/concordance:latest'

}

params {
    debug = true
    date = new Date().format( 'yyyyMMdd' )
    genome = "WS245"
    fq_file_prefix = "test_data"
    //reference = "WS245/WS245.fa.gz"
    reference = "WS245"
    fq_file = 'test_data/sample_sheet.tsv'

    min_depth = 0
    qual = 1
    mapping_quality = 2
    dv_dp = 0.1
    min_depth_individual = 1
    cores = 4
}
