
// For quest debug

sigularity {
    enabled = true
}

process {
    
    module 'singularity/latest'

    withLabel: bam_coverage {

    container = 'docker://faithman/bam_toolbox:latest'

}

    container = 'docker://faithman/concordance:latest'

}


params {
    genome = "WS245"
    annotation_reference = "WS261"
    debug = true
    tmpdir = "/projects/b1042/AndersenLab/tmp"
    bamdir = "/projects/b1042/AndersenLab/tmp"
    reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa.gz"
    min_depth = 0
    qual = 1
    mapping_quality = 2
    dv_dp = 0.1
    min_depth_individual = 1
} 